flows.json
[
    {
        "id": "ab2a3f789b90c1d1",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e5eca0bd39f04113",
        "type": "mqtt in",
        "z": "ab2a3f789b90c1d1",
        "name": "Subscrição",
        "topic": "topico/temperatura",
        "qos": "2",
        "datatype": "utf8",
        "broker": "c1db5e2d.c585c8",
        "inputs": 0,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "5c6993c38270f393",
                "e1d4c88ffad850ac"
            ]
        ]
    },
    {
        "id": "901a612961c5304b",
        "type": "function",
        "z": "ab2a3f789b90c1d1",
        "name": "Processar mensagem",
        "func": "if (msg.payload >= \"24\") {\n    msg.payload = \"Alerta!!! Temperatura alta \" + msg.payload + \"°C\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 280,
        "wires": [
            [
                "3b2dc3eab2ef80c0",
                "213b0f38d11cc90b",
                "8705210507b6a0cc"
            ]
        ]
    },
    {
        "id": "e77de56a3c9b0542",
        "type": "mqtt out",
        "z": "ab2a3f789b90c1d1",
        "name": "Publicação",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c1db5e2d.c585c8",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "f8eeebf9dad5261f",
        "type": "random",
        "z": "ab2a3f789b90c1d1",
        "name": "",
        "low": "20",
        "high": "30",
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 280,
        "wires": [
            [
                "901a612961c5304b",
                "b59ae3d71edfac9f",
                "9d8129ed45318943",
                "a616f19cf8d2f8bf"
            ]
        ]
    },
    {
        "id": "994d9d5d71f57cdb",
        "type": "inject",
        "z": "ab2a3f789b90c1d1",
        "name": "Temperaturas",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "topico/temperatura",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "f8eeebf9dad5261f"
            ]
        ]
    },
    {
        "id": "b59ae3d71edfac9f",
        "type": "ui_gauge",
        "z": "ab2a3f789b90c1d1",
        "name": "",
        "group": "048f2c1b55e013f7",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "graus",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "9d8129ed45318943",
        "type": "ui_chart",
        "z": "ab2a3f789b90c1d1",
        "name": "",
        "group": "048f2c1b55e013f7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "30",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3b2dc3eab2ef80c0",
        "type": "ui_toast",
        "z": "ab2a3f789b90c1d1",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "notificação",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "213b0f38d11cc90b",
        "type": "e-mail",
        "z": "ab2a3f789b90c1d1",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "anabsfonseca@gmail.com",
        "dname": "e-mail",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "5c6993c38270f393",
        "type": "file",
        "z": "ab2a3f789b90c1d1",
        "name": "data",
        "filename": "data.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 330,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d55b8a80378bab29",
        "type": "debug",
        "z": "ab2a3f789b90c1d1",
        "name": "data (dados crus)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "8705210507b6a0cc",
        "type": "debug",
        "z": "ab2a3f789b90c1d1",
        "name": "dado processado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "e1d4c88ffad850ac",
        "type": "function",
        "z": "ab2a3f789b90c1d1",
        "name": "Processar mensagem",
        "func": "if (msg.payload >= \"15\") {\n    // Enviar para o Telegram\n    msg.payload = \"Mensagem de alerta: Temperatura alta \" + msg.payload;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 80,
        "wires": [
            [
                "e77de56a3c9b0542"
            ]
        ]
    },
    {
        "id": "a616f19cf8d2f8bf",
        "type": "file",
        "z": "ab2a3f789b90c1d1",
        "name": "data",
        "filename": "data.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 510,
        "y": 180,
        "wires": [
            [
                "d55b8a80378bab29"
            ]
        ]
    },
    {
        "id": "bea0bdb96e3f5ca8",
        "type": "comment",
        "z": "ab2a3f789b90c1d1",
        "name": "MQTT",
        "info": "",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "19c5ca45a6414abd",
        "type": "comment",
        "z": "ab2a3f789b90c1d1",
        "name": "simulado ",
        "info": "",
        "x": 220,
        "y": 240,
        "wires": []
    },
    {
        "id": "c1db5e2d.c585c8",
        "type": "mqtt-broker",
        "name": "Servidor MQTT",
        "broker": "172.18.0.1",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "048f2c1b55e013f7",
        "type": "ui_group",
        "name": "Quarto",
        "tab": "93701c83a2316e5d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93701c83a2316e5d",
        "type": "ui_tab",
        "name": "Casa",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
